<div class="row" id="user_info">
  <div class="container center-align">
    <div class="card col s4" id="user_info_card">
      <p><%= @user.username %></p>
      <p>Posts: <%= @user.posts.count %></p>
      <p>Comments: <%= @user.comments.count %></p>
      <p>Favorites: <%= @user.favorites.count %></p>
    </div>
  </div>
</div>


<% @user.favorite_tags.each do |tag| %>
  <div class="chip">
    <%=link_to tag, "?tag=#{tag}", class: "user_show_favorite_tag" %>
  </div>
<% end %>


<div class="row">
  <% @user.favorites.select { |fav| request.query_parameters["tag"].nil? || fav.post.tag_list.include?(request.query_parameters["tag"]) }.each do |favorite| %>
    <% post = Post.find_by(id: favorite.post_id) %>
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <%= image_tag(url_for(post.image)) %>
        </div>
        <div class="card-action">
          <%= link_to(post.title, post_path(post)) %>
        </div>
        <div class="card-content">
          <span>
            <i class="tiny material-icons">thumb_up</i> <%= post.points %>
            <i class="tiny material-icons">visibility</i> <%= post.post_views %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>
