<!--SEARCH BAR-->
<div id="search_bar">
  <div class="row fixed">
    <form class="col s12" action="/posts" method="get">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">search</i>
          <input id="icon_prefix2" class="materialize-textarea" name="search" placeholder="Search by title, username, or tag"></input>
        </div>
      </div>
    </form>
  </div>
</div>


<div class="row">
    <%= link_to 'New Post', new_post_path, class: "waves-effect btn left-align" %>
</div>


<div class="row">
  <% @posts.each do |post| %>
    <div class="col s12 m3">
      <%= link_to(post_path(post)) do %>
      <div class="card">
        <div class="card-image">
            <%= image_tag(url_for(post.image)) %>
        </div>
        <div class="card-action">
          <%= post.title %>
        </div>
        <div class="card-content">
          <span>
            <i class="tiny material-icons">thumb_up</i> <%= post.points %>
            <i class="tiny material-icons">visibility</i> <%= post.post_views %>
          </span>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
