<div >
  <!-- POST USER INFO -->
  <p>
    <h3><%= @post.title %><br/></h3>
    By: <%= @post.user.username %><br/>
    <%= time_ago_in_words(@post.created_at) %> ago
  </p>


  <!-- POST IMAGE -->
  <div class="row">
  <div class="col s12 m10">
  <div style="width: auto; height: auto; margin: auto;">
    <%= image_tag(@post.fix_exif_rotation(@post.image), style: "width: 100%") %>
  </div>
  </div>
  </div>


  <!-- EDIT/DELETE POST LINKS -->
  <div class='row'>
    <% if current_user && @post.user.id == current_user.id %>
      <small><%= link_to 'Edit', edit_post_path(@post) %></small> |
      <small><%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %></small>
    <% end %>
  </div>


  <!-- POST TAGS -->
  <h6>Tags:</h6>
  <div class='row'>
    <% @post.tags.each do |tag| %>
      <div class="chip light-blue accent-3 white-text">
        <%= tag.name %>
      </div>
    <% end %>
  </div>


  <!-- VOTE/FAVORITE PARTIALS -->
  <div class='row'>
    <%= render partial: 'votes/voting', locals: { post: @post } %>
    <%= render partial: 'favorites/favorite', locals: { post: @post } %>
    <p><%= pluralize(@post.points, 'point') %></p>
  </div>


  <!-- COMMENTS -->
  <h3>Comments</h3>
    <%= render @post.comments %>

    <% if current_user %>
      <div id='post_comment_partial'>
        <%= render partial: 'comments/form', locals: { commentable: @post }%>
      </div>
    <% end %>
</div>
