<!DOCTYPE html>
<html>
  <head>
    <title>Daily Pet Pics</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css', media: 'all' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons', media: 'all' %>
  </head>

  <body>
    <!-- DESKTOP NAVBAR -->
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper blue lighten-4">
          <a href='/' class='brand-logo left'><i class='material-icons'>pets</i>Daily Pet Pics</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <% if user_signed_in? %>
              <li><%= current_user.username %></li>
              <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
              <li><%= link_to 'View profile', user_path(current_user.id), :class => 'navbar-link' %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
            <% else %>
              <li><%= link_to 'Home', root_path, :class => 'navbar-link' %></li>
              <li><%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %></li>
              <li><%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>


    <!-- MOBILE NAVBAR -->
    <ul class="sidenav" id="mobile-demo">
      <% if user_signed_in? %>
        <li><%= current_user.username %></li>
        <li><%= link_to 'Edit profile', edit_user_registration_path%></li>
        <li class="divider"></li>
        <li><%= link_to 'View profile', user_path(current_user.id)%></li>
        <li class="divider"></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></li>
        <li class="divider"></li>
      <% else %>
        <li><%= link_to 'Home', root_path%></li>
        <li class="divider"></li>
        <li><%= link_to "Sign Up", new_user_registration_path%></li>
        <li class="divider"></li>
        <li><%= link_to "Sign In", new_user_session_path%></li>
        <li class="divider"></li>
      <% end %>
    </ul>

    <!-- MAIN CONTAINER -->
    <div class="container" id="main-container">
      <%= yield %>
    </div>


    <!-- FOOTER -->
    <footer class="page-footer blue lighten-4">
      <span class="left-align">© 2019 CJAdeszko</span>
    </footer>

    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js' %>
  </body>
</html>
